$bgColor: #ff0000;
$color: #fff;
$upper: uppercase;
$border: 1px solid #333;
$borderRadius: 5px;

body {
    .btn {
        background-color: $bgColor;
        color: $color;
        text-transform: $upper;
        border: $border;
        border-radius: $borderRadius;
    }
}